/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(baselime.svg);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
